html
  body
    ion-view(view-title='Dashboard', ng-controller:'main')
      div(class='bar bar-header bar-assertive')
        img(src='../assets/images/app-logo.svg', class='app-logo')
      
      ion-content(class='main-container')  
        img(class='merchant' src='../assets/images/vendor.png')
          
