html
  body
    ion-view(view-title='Dashboard', ng-controller:'main')
      div(class='bar bar-header bar-assertive')
        img(src='../assets/images/app-logo.svg', class='app-logo')
      
      ion-content(class='main-container')  
        img(class='merchant' src='../assets/images/vendor.png')
        
        div(class='row product-line-item')
          img(class='col-20 padding-horizontal  product-checkout-image' src='../assets/images/example.jpg')
          
          div(class='col-60 padding-horizontal product-line-title')
            | StarCraft II: Wings of Liberty  
          div(class='col-20 padding-horizontal product-line-price')
            | $19.99
            
        h2(class='payment-methods-title')
          | Select a Payment Method
        div(class='card payment-method')
          div(class='row')
            div(class='col-20 padding-horizontal')
              img(class='credit-card' src='')
            div(class='col-60 padding-horizontal')
              | XXXX-XXXX-XXXX-2183
            div(class='col-20 padding-horizontal')
              | 10/19
              
        div(class='card payment-method')
          div(class='row')
            div(class='col-20 padding-horizontal')
              img(class='credit-card' src='')
            div(class='col-60 padding-horizontal')
              | XXXX-XXXX-XXXX-2183
            div(class='col-20 padding-horizontal')
              | 10/19
              
        button(class='button button-positive checkout-button')
          | Checkout
        
          
