html
  body
    ion-view(view-title='Dashboard', ng-controller:'main')  
      ion-content(class='main-container')
        
        
        a(ng-hide="showBarcode", href='#/modal')
          button(class='button button-positive buy-button')
            | Sign In!
