html
  body
    ion-view(view-title='Dashboard', ng-controller:'main')
      ion-content
        div(class='bar bar-header bar-assertive')
          img(src='../assets/images/app-logo.svg', class='app-logo')
