html
  body
    ion-view(view-title='Dashboard', ng-controller:'main')
      div(class='bar bar-header bar-assertive')
        img(src='../assets/images/app-logo.svg', class='app-logo')
      
      ion-content(class='main-container')
        div(class='purchase-cue')
          | You posted about StarCraft a few weeks ago. Would you like to buy it today?
        
