html
  body
    ion-view(view-title='Dashboard', ng-controller:'main')
      div(class='bar bar-header bar-assertive')
        img(src='../assets/images/app-logo.svg', class='app-logo')
      
      ion-content(class='main-container')
        div(class='purchase-cue')
          | You posted about StarCraft a few weeks ago. Would you like to buy it today?
          
        div(class='product-image-container')
          div(class='starcraft-sample')
          div(class='product-title')
            | StarCraft II: Wings of Liberty  
        
        div(class='row')
          div(class='col')
            div(class='product-price')
              | $19.99
            div(class='product-stock')
              | In Stock
          div(class='col')
            | Average User Rating
            br
            | RATING BAR
          div(class='col')
            button(class='button button-positive buy-button')
              | Buy Now
              
        div(class='card')
          div(class='row')
            div(class='col')
              img(src='../assets/images/starcraft.png' class='main-page-like')
            div(class='col')
              b 
                | 2,679,021 people like this
              br
              | Sol Tran and 33 other friends
          div(class='row')
            div(class='col')
              img(src='../assets/images/sol.png' class='fb-profile')
            div(class='col')
              img(src='../assets/images/theo.png' class='fb-profile')
            div(class='col')
              img(src='../assets/images/jono.png' class='fb-profile')
            div(class='col')
              img(src='../assets/images/sean.png' class='fb-profile')
