html
  body
    ion-view(view-title='Dashboard', ng-controller:'main')
      div(class='bar bar-header bar-assertive')
        img(src='../assets/images/app-logo.svg', class='app-logo')
      
      ion-content(class='main-container')  
        img(class='merchant' src='../assets/images/vendor.png')
        
        div(class='row product-line-item')
          img(class='col-20 padding-horizontal  product-checkout-image' src='../assets/images/example.jpg')
          
          div(class='col-60 padding-horizontal product-line-title')
            | StarCraft II: Wings of Liberty  
          div(class='col-20 padding-horizontal product-line-price')
            | $19.99
