html
  body
    ion-view(view-title='Dashboard', ng-controller:'main')      
      ion-content(class='main-container')  
        h3.padding
          | Recent Purchases
          
        div(class='card')
          div(class='row')
            div(class='col')
              img(src='assets/images/example.jpg',  class='product-thumbnail')
            div(class='col')
              | StarCraft II: Wings of Liberty
            div(class='col')
              | 10/25/15
        
        .padding
          h3
            | Item Category Suggestions
            
          p
            | Get notifications every time you pass by a store that has your favorite brands/products
          
        div(class='card')
          div(class='row')
            div(class='col')
              img(src='assets/images/example.jpg',  class='product-thumbnail')
            div(class='col')
              h4.category-title
                | Games
            div(class='col')
              ul(class='list')
                li(class='item item-toggle')
                  label(class='toggle toggle-positive')
                    input(type='checkbox')
                    div(class='track')
                      div(class='handle')
              
        div(class='card')
          div(class='row')
            div(class='col')
              img(src='assets/images/example.jpg',  class='product-thumbnail')
            div(class='col')
              h4.category-title
                | Books
            div(class='col')
              ul(class='list')
                li(class='item item-toggle')
                  label(class='toggle toggle-positive')
                    input(type='checkbox')
                    div(class='track')
                      div(class='handle')
                      
        div(class='card')
          div(class='row')
            div(class='col')
              img(src='assets/images/example.jpg',  class='product-thumbnail')
            div(class='col')
              h4.category-title
                | Clothes
            div(class='col')
              ul(class='list')
                li(class='item item-toggle')
                  label(class='toggle toggle-positive')
                    input(type='checkbox')
                    div(class='track')
                      div(class='handle')
